<nav>
  <form [formGroup]="quoteForm" (ngSubmit)="createQuote(quoteForm.value.author, quoteForm.value.quotation)">
    <label for="author">
      Author:
      <input data-test="author-input" type="text" name="author" formControlName="author">
    </label>
    <label for="quotation">
      Quote:
      <input data-test="quotation-input" type="text" name="quotation" formControlName="quotation">
    </label>
    <button data-test="create-button" class="inputButton" type="submit"></button>
    <p>{{quoteForm.value.author}} adda das das ads </p>
  </form>
</nav>
